:root {
  --sombre: rgb(90, 5, 90);
  --clair: rgb(190, 190, 190);
  --gris: rgb(83, 83, 83);
  --texte: rgb(18, 19, 19);
}
@font-face {
  font-family: Font1;
  src: url(./assets/Sedan/Sedan-Regular.ttf);
}

body {
  background: url(./assets/bg.webp) center/cover;
  font-family: Font1, serif;
  margin: 0;
  padding: 0;
}
.main-header {
  justify-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 240, 0.521);
  color: var(--sombre);
  padding: 0 10px;
}
header a {
  text-decoration: none;
  color: var(--gris);
  cursor: pointer;
  color: var(--gris);
  padding: 10px;
  font-size: 1.25rem;
}
h1 {
  margin: 0;
  padding: 10px;
}
.main-content {
  max-width: 80vw;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
.card, .card-solo {
  background: rgba(245, 245, 245, 0.048);
  border: 1px solid var(--clair);
  border-radius: 20px;
  box-shadow: 0 2px 30px 3px var(--gris);
  backdrop-filter: blur(25px);
}
.card{
  max-width: 25vw;
  min-height: 28vh;
  margin: 20px;
  padding: 15px;
}
h2 {
  text-align: center;
  margin: 0;
  padding: 15px;
  color: var(--sombre);
}
.card-content {
  padding: 15px;
  text-align: justify;
  font-size: 1.1rem;
  overflow: hidden;
  height: 73vh;
  border-top: 1px solid var(--clair);
  border-bottom: 1px solid var(--clair);
}
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.card-footer p {
  color: var(--gris);
}
a, .button a {
  text-decoration: none;
  color: var(--gris);
  cursor: pointer;
}
.button {
  padding: 10px;
  background: rgba(245, 245, 245, 0.144);
  border-radius: 10px;
  border: 1px solid var(--clair);
  cursor: pointer;
}
.button:hover {
  background: var(--clair);
  transform: scale(1.1);
}

.card-solo {
  max-width: 60vw;
  margin: 20px auto;
  padding: 30px;
  text-align: justify;
  font-size: 1.1rem;
  min-height: 73vh;
}
.card-solo p {
  padding: 12px 30px;
}

@media screen and (max-width: 1815px) {
  .main-content{
    width: 100vw;
    gap: 10px;
  }
}

@media screen and (max-width: 1580px) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
  }
  .card {
    max-width: 30vw;
  }
}

@media screen and (max-width: 1230px) {
  .card {
    max-width: 520px;
  }
}

@media screen and (max-width: 780px) {
  .card-content {
    max-height: 80vw;
  }
  .card-solo {
    max-width: 80vw;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 500px) {
  .card-solo {
    max-width: 90vw;
    padding: 8px 12px;
  }
  .card-solo>p {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.7rem;
    text-align: center;
  }
  h2 {
    font-size: 1.4rem;
  }
  .card-content {
    padding: 10px;
    text-align: justify;
    font-size: 1rem;
    overflow: hidden;
    border-top: 1px solid var(--clair);
    border-bottom: 1px solid var(--clair);
  }
  .card-solo {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .main-content {
    max-width: 100vw;
    width: 100vw;
  }
  .card {
    max-width: 390px;
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 1.3rem;
  }
  header>a {
    font-size: 1.1rem;
  }
  .card {
    padding: 5px;
    margin: 0;
  }
  .card-content>p {
    margin-top: 0;
  }
  .card-footer{
    margin-top: 5px;
  }
  .card-solo {
    max-width: 100vw;
    padding: 3px 6px;
  }
  .card-solo>p {
    padding: 1px 8px;
  }
}

@media screen and (max-width: 250px) {
  .card-footer{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 200px) {
  .card-footer{
    font-size: 0.7rem;
  }
}